@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
	/*Box model stuff*/
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*Typography stuff*/
	text-decoration: none;
	/*Miscellaneous*/
	box-sizing: border-box;
	list-style: none;
}

:root {
	/*Miscellaneous*/
	--color-bg: linear-gradient(#1f365a, #000);
	--color-primary: rgb(6, 212, 227);
	--color-white: #fff;

	--transition: all 400ms ease;

	--border: 2px;

	--container-width-large: 90%;
	--container-width-medium: 86%;
	--container-width-small: 90%;
}

::placeholder{
	color: var(--color-primary);
}

html {
	/*Miscellaneous*/
	scroll-behavior: smooth;
}

body {
	/*Box model stuff*/
	background: var(--color-bg);
	background-attachment: fixed;
	/*Typography stuff*/
	color: var(--color-white);
	/*Miscellaneous*/
	line-height: 1.7;
	font-family: "IBM Plex Serif", serif;
}

.container {
	/*Box model stuff*/
	width: var(--container-width-large);
	margin: 0 auto;
	padding-top: 5rem;
}

section {
	/*Box model stuff*/
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}
